<div class="cover-img">
        <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>



                </mat-grid-tile>
                <mat-grid-tile>

                        <mat-card>
                                <mat-card-title>
                                        <h1>Unete a esta causa!</h1>
                                </mat-card-title>
                                <mat-card-subtitle>
                                        Juntos podemos ayudar a quien lo necesita </mat-card-subtitle>
                                <mat-card-content>
                                        <div class="flex-container">
                                                <button mat-raised-button color="primary" (click)="showLoginModal()">Iniciar sesion</button>
                                                <br>
                                                <button mat-raised-button color="primary" (click)="showSignupModal()">Registrate</button>
                                        </div>


                                </mat-card-content>
                        </mat-card>

                </mat-grid-tile>

        </mat-grid-list>
</div>