<div style="max-width: 600px; margin-top: 30px;">
    <mat-card>
        <mat-card-header>
                <mat-card-title>Manuel Ruelas</mat-card-title>
                <mat-card-subtitle>Hace 3 dias</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et commodo velit.
                Aenean in lorem laoreet, fringilla dolor eu, gravida sem. Curabitur tincidunt fringilla est eleifend
                mattis.
                Ut pretium volutpat velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary">
                Contactar
            </button>
        </mat-card-actions>
    </mat-card>
</div>