<div>
    <h1 mat-dialog-title>Registrar datos</h1>
    <form action="" class="vertical-container" method="post">
        <mat-form-field>
            <input matInput placeholder="Nombre" type="text">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" type="text">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Contraseña" type="password">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Repetir contraseña" type="text">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tipo de sangre" type="text">
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" >Crear cuenta</button>
    </form>
</div>