
<div class="p-grid p-justify-center ">
        <p-card class="p-col-6 p-col-align-center" >
                <div class="p-grid">
                    <div class="p-col">
                        <h1>Iniciar sesion</h1>
                        <form action="" method="post">
                            <span class="ui-float-label m-t-20">
                                <input id="float-input" type="text" size="30" pInputText> 
                                <label for="float-input">Email</label>
                            </span>
                            <span class="ui-float-label m-t-20">
                                <input id="float-input" type="text" size="30" pInputText> 
                                <label for="float-input">Contraseña</label>
                            </span>
                            <div class="m-t-20">
                                <button class="ui-button-raised"  pButton type="submit" label="Iniciar sesion"></button>
                            </div>
                            
                        </form>
                    </div>
                    <div class="p-col">
                        <h1>Registrate</h1>
                        <form action="" method="post">
                            <span class="ui-float-label m-t-20">
                                <input id="float-input" type="text" size="30" pInputText> 
                                <label for="float-input">Nombre</label>
                            </span>
                            <span class="ui-float-label m-t-20">
                                <input id="float-input" type="text" size="30" pInputText> 
                                <label for="float-input">Correo</label>
                            </span>
                            <span class="ui-float-label m-t-20">
                                <input id="float-input" type="text" size="30" pInputText> 
                                <label for="float-input">Contraseña</label>
                            </span>
                            <div class="m-t-20">
                                <p-dropdown placeholder="Selecciona tipo de sangre" optionLabel="name"></p-dropdown>
                            </div>
                            <div class="m-t-20">
                                <button class="ui-button-raised" pButton type="submit" label="Crear cuenta"></button>
                            </div>
                            
                        </form>
                    </div>
                </div>
        </p-card>
</div>
