<div>
    <h1 mat-dialog-title>Iniciar sesion</h1>
    <div>
        <form action="" class="vertical-container" method="GET">
            <mat-form-field>
                <input matInput placeholder="Email" type="text">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Contraseña" type="password">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Iniciar sesion</button>
        </form>
    </div>
    <button mat-button color="secondary" >Olvidaste tu contraseña?</button>

</div>

